<mat-toolbar class="navbar navbar-dark navbar_container" style="background-color:#222222;">
    <div class="container_nav">
        <div class="nav_items justify-content-center">
            <button mat-icon-button class="nabvar-brand navbar-dark" id="button_nav" (click)="toggleSidebar_main()"><mat-icon>menu</mat-icon></button>                              
            <span class="logo_machine">Machine</span>
            <form class="nav_items search_nav">
                <input class="search_txt" type="search" placeholder="Search" aria-label="Search">
                <span class="search_btn">
                    <mat-icon>search</mat-icon>
                </span>            
            </form> 
        </div>
            
        <div class="nav_items">
            <button id="button_nav" mat-icon-button><mat-icon >notifications</mat-icon></button>
            <button id="button_nav" mat-icon-button><mat-icon >email</mat-icon></button>
            <button id="button_nav" mat-icon-button><mat-icon >event_node</mat-icon></button>
            <button id="button_nav" style="margin-right: 10px;" mat-icon-button><mat-icon>more_vert</mat-icon></button>
            <igx-avatar class="avatar_navbar" bgColor="yellow" initials="JR"></igx-avatar>           
        </div>
    </div>
    
</mat-toolbar>
