.navbar_container{
    height: 50px;
    width: 100% ;
}

.container_nav{
    width: 100% ;
    display: flex;
    justify-content: space-between;
}

.search_nav{
    position: absolute;        
    top: 15px;
    left: 160px;
    transform: translate(0, -50%);
    height: 40px;
    border-radius: 40px;
    padding: 0;
    margin: 10px;    
}

.search_nav:hover{
    background-color: var(--bg-color);
}

.search_btn{
    float: right;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color:var(--primary-color);
    cursor: pointer;    
}

.search_txt{
    border: none;
    left: 10px;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--primary-color);    
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;

}

.search_nav:hover > .search_txt{
    width: 300px;    
    padding: 0 6px;
}

.search_nav:hover > .search_btn {
    background:#296ceb;
    color:var(--primary-color);
}

.search_btn > mat-icon {
    font-size: 30px;
   }

.nav_items{
    justify-content: center;
    display: flex;
}

#nav_icon{
    height: 40px;
    width: 40px;
    color:var(--bg-color);
}

#button_nav{
    color:var(--bg-color);
    height: 40px;
    width: 40px;
}

::ng-deep .nav_menu{
    background:var(--bg-color) !important;
}

#button_options{
    background-color: var(--bg-color);
    color:var(--primary-color);
}

.avatar_navbar{
    height: 40px;
    width: 40px;
}

.logo_machine{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color:#296ceb;
    padding: 0;
    margin: 3px;
}


    
