.navbar_container{
    height: 15%;
    width: 100% ;
}

.container_nav{
    width: 100% ;
    display: flex;
    justify-content: space-between;
}

.nav_items{
    justify-content: center;
    display: flex;
}

#button_nav{
    color:white;
    height: 40px;
    width: 40px;
}

.logo_machine{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color:white;
    padding: 0;
    margin: 3px;
}
    
