.sidenav_main_container {
  height: 90%;
}
  
.sidenav_main_content {
  display: flex;
  background-color: #333333;
  height: 100%;
  padding: 20px;
}
  
.sidenav_main {
  padding: 120px;
  background-color: #333333;
}