.sidenav_main_container {
  height: 85%;
}
  
.sidenav_main_content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
  
.sidenav_main {
  padding: 100px;
  background-color: #666666;
}