.body{
    font-family: 'Open Sans', sans-serif;
}

.navbar-presentation{
    background: #666666;
    height: 15%;
}

.link{
    font-family: 'Open Sans', sans-serif;
    color:#ff6600;
}

.login_nav{
    font-weight: 400;
    position: absolute;
    right:0;
}
